body {
  padding: 0;
  margin: 0;
}

.container {
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5e224e48-690b-42e8-beff-c90e1a6cd7f8/dfm5uid-8b555f59-cc72-466c-92c4-a9813cd009e9.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzVlMjI0ZTQ4LTY5MGItNDJlOC1iZWZmLWM5MGUxYTZjZDdmOFwvZGZtNXVpZC04YjU1NWY1OS1jYzcyLTQ2NmMtOTJjNC1hOTgxM2NkMDA5ZTkucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.baqP-YxbNE58_PF6Ev2m774LUeofBSwA5Y1H6KUhqD4);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.member {
  width: 154px;
  height: 204px;
  position: relative;
  transition: all 0.2s ease;
  border-radius: 20px;
}

.member:hover {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 520px;
}

.name {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 2;
}

.name p {
  margin: 0;
}

.member:hover .name {
  visibility: visible;
  position: static;
  height: 10%;
}

.img {
  position: relative;
  z-index: 3;
}

.member img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  position: absolute;
  z-index: 1;
  padding: 5px;
}

.info p {
  margin: 0;
}

.member:hover .info {
  visibility: visible;
  position: static;
}

.member:hover img {
  border: none;
}

.minji img{
  border: 5px solid yellow;
}

.minji:hover {
  background-color: yellow;
  border: 2px solid yellow;
}

.hanni img{
  border: 5px solid pink;
}

.hanni:hover {
  background-color: pink;
  border: 2px solid pink;
}

.danielle img{
  border: 5px solid green;
}

.danielle:hover {
  background-color: green;
  border: 2px solid green;
}

.haerin img{
  border: 5px solid white;
}

.haerin:hover {
  background-color: white;
  border: 2px solid white;
}

.hyein img{
  border: 5px solid lightblue;
}

.hyein:hover {
  background-color: lightblue;
  border: 2px solid lightblue;
}